{% extends 'base.html.twig' %}

{% block title %}Mon compte - Boutique Project{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenu {{app.user.firstname}} {{app.user.lastname}} dans votre compte .
    <hr> 
    <a href="{{ path('account_password') }}" > Modifier mon mot de passe. </a>
    <hr>
{% endblock %}
